extends ../layout
include ../components/mainNav
include ../components/loading

block title
  title Workflowy Helper

block content
  +mainnav(0)
  .instructions(style='display:none') Instructions
    ul
      li Anything marked with #todo #hw or #test will be shown in these lists.
      li If they have "--- 1/29" then they will be given a due date and placed in the calendar.
      li If they are marked with #no then they will be ignored.
      li Completed Items are greyed out and can be toggled on and off.

  +loading('Loading Workflowy')

  - var stile = (user.settings.showCalendar === "false") ? 'display: none' : ''
  #calendar(style=stile)

  - if (user.settings.wfCookie && user.settings.wfQs)
    .wfLists
      if user.settings.wfLabels
        each label in user.settings.wfLabels
          .list
            input(type='checkbox', style='float: right').showHidden
            span(style='float: right') Show Hidden
            .title= label.name
            +loading('Loading ' + label.id)
            .wfItems(data-wfid=label.id, data-wfdisp=label.disp)
      else
        .error Looks like you need to add some ids for Workflowy. Head on over to 
          a(href='/settings') Settings
  else
    .error Looks like you need to add a cookie, a QS or both on the 
      a(href='/settings') Settings
      |  page

append styles
  link(rel='stylesheet', href='/css/fullcalendar.css')

append scripts
  script(src='/js/lib/jquery-ui.js')
  script(src='/js/lib/fullcalendar.js')
  script
    $(function () {
      var init = require('/client/requires/index');
      init("#{user.settings.defaultColor}");
    });
