- var MONTHS = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
- var klass = completed ? 'completed' : '';

div(style='position: relative; color:' + color, class=klass).wf-item
  if important
    .important !
  if start
    a(href="#", style='color:' + color, data-date="#{start}").linkToCal= title
    div due on #{MONTHS[start.getMonth()]} #{start.getDate()}
  else
    a(href=url, target="_blank", style='color:' + color)= title
